datasets
langchain
langchain-community
langchain-huggingface
transformers
accelerate
torch
pre-commit==4.0.1
black==24.10.0
isort==5.13.2
FlagEmbedding
cloud-sql-python-connector[pg8000]
google-api-python-client 
